build
extern
fantastic-admin/node_modules
.DS_Store
**dist*
fantastic-admin/dist-ssr
*.local
.eslintcache
.stylelintcache
fantastic-admin/src/views/index_8_11.vue
fantastic-admin/src/views/index_back.vue
fantastic-admin/src/views/order/order_list_back.vue
fantastic-admin/src/views/order/order_list copy.vue
CMakeLists.txt
src/App.vue
src/main.ts
src/settings.default.ts
src/settings.ts
src/api/index.ts
src/api/modules/app.ts
src/api/modules/delivery.ts
src/api/modules/model.ts
src/api/modules/order.ts
src/api/modules/user.ts
src/assets/icons/403.svg
src/assets/icons/404.svg
src/assets/icons/check.svg
src/assets/icons/error_state.svg
src/assets/icons/expand.svg
src/assets/icons/ready_state.svg
src/assets/icons/toolbar-collapse.svg
src/assets/icons/updatetime.svg
src/assets/images/comac.png
src/assets/images/login-banner.png
src/assets/images/logo.svg
src/assets/styles/globals.css
src/assets/styles/nprogress.css
src/assets/styles/resources/utils.scss
src/assets/styles/resources/variables.scss
src/components/AccountButton/index.vue
src/components/AccountButton/profile.vue
src/components/AccountForm/EditPasswordForm.vue
src/components/AccountForm/LoginForm.vue
src/components/AccountForm/RegisterForm.vue
src/components/AccountForm/ResetPasswordForm.vue
src/components/FileUpload/index.vue
src/components/ImageUpload/index.vue
src/components/ImagesUpload/index.vue
src/controller/UserController.cpp
src/iconify/data.json
src/iconify/index.json
src/iconify/index.ts
src/layouts/index.vue
src/layouts/components/AppSetting/index.vue
src/layouts/components/Breadcrumb/index.vue
src/layouts/components/Breadcrumb/item.vue
src/layouts/components/Header/index.vue
src/layouts/components/HotkeysIntro/index.vue
src/layouts/components/Logo/index.vue
src/layouts/components/MainSidebar/index.vue
src/layouts/components/Menu/index.vue
src/layouts/components/Menu/item.vue
src/layouts/components/Menu/sub.vue
src/layouts/components/Menu/types.ts
src/layouts/components/SubSidebar/index.vue
src/layouts/components/Topbar/index.vue
src/layouts/components/Topbar/Tabbar/index.vue
src/layouts/components/Topbar/Toolbar/index.vue
src/layouts/components/Topbar/Toolbar/leftSide.vue
src/layouts/components/Topbar/Toolbar/rightSide.vue
src/layouts/components/Topbar/Toolbar/Breadcrumb/index.vue
src/layouts/components/Topbar/Toolbar/ColorScheme/index.vue
src/layouts/components/Topbar/Toolbar/Fullscreen/index.vue
src/layouts/components/Topbar/Toolbar/NavSearch/index.vue
src/layouts/components/Topbar/Toolbar/NavSearch/search.vue
src/layouts/components/Topbar/Toolbar/PageReload/index.vue
src/layouts/components/views/link.vue
src/menu/index.ts
src/menu/modules/multilevel.menu.example.ts
src/mock/app.ts
src/mock/delivery.ts
src/mock/model.ts
src/mock/order.ts
src/mock/user.ts
src/router/extensions.ts
src/router/guards.ts
src/router/index.ts
src/router/routes.ts
src/router/delivery/tab.client.manage.ts
src/router/delivery/tab.dongle.manage.ts
src/router/model/tab.ata00.groundhandling.ts
src/router/model/tab.ata04.aerodynamics.ts
src/router/model/tab.ata7x.engine.ts
src/router/model/tab.ata08.weightbalance.ts
src/router/model/tab.ata21_30_36_52.ecs.ts
src/router/model/tab.ata21.airconditioning.ts
src/router/model/tab.ata21.pressutizationanddoors.ts
src/router/model/tab.ata24.electric.ts
src/router/model/tab.ata26.fire.ts
src/router/model/tab.ata27.aceact.ts
src/router/model/tab.ata27f.flapsslats.ts
src/router/model/tab.ata27w.stallwarningcomputer.ts
src/router/model/tab.ata28.fuel.ts
src/router/model/tab.ata29.hydraulic.ts
src/router/model/tab.ata30.iceandrain.ts
src/router/model/tab.ata32.brakes.ts
src/router/model/tab.ata32.landinggear.ts
src/router/model/tab.ata32.steering.ts
src/router/model/tab.ata33.lights.ts
src/router/model/tab.ata34.flightInstruments.ts
src/router/model/tab.ata34.irs.ts
src/router/model/tab.ata35.oxygen.ts
src/router/model/tab.ata36.penumatic.ts
src/router/model/tab.ata49.apu.ts
src/router/modules/permission.example.ts
src/router/order/tab.order.create.ts
src/router/order/tab.order.list.ts
src/router/order/tab.order.manage.ts
src/slots/index.ts
src/store/index.ts
src/store/modules/keepAlive.ts
src/store/modules/menu.ts
src/store/modules/route.ts
src/store/modules/settings.ts
src/store/modules/tabbar.ts
src/store/modules/user.ts
src/types/auto-imports.d.ts
src/types/components.d.ts
src/types/env.d.ts
src/types/global.d.ts
src/types/shims.d.ts
src/types/vite-env.d.ts
src/ui/components/FaAuth/index.vue
src/ui/components/FaAvatar/index.vue
src/ui/components/FaAvatar/avatar/Avatar.vue
src/ui/components/FaAvatar/avatar/AvatarFallback.vue
src/ui/components/FaAvatar/avatar/AvatarImage.vue
src/ui/components/FaAvatar/avatar/index.ts
src/ui/components/FaBackToTop/index.vue
src/ui/components/FaButton/index.vue
src/ui/components/FaButton/button/Button.vue
src/ui/components/FaButton/button/index.ts
src/ui/components/FaButtonGroup/index.vue
src/ui/components/FaCard/index.vue
src/ui/components/FaCard/card/Card.vue
src/ui/components/FaCard/card/CardContent.vue
src/ui/components/FaCard/card/CardDescription.vue
src/ui/components/FaCard/card/CardFooter.vue
src/ui/components/FaCard/card/CardHeader.vue
src/ui/components/FaCard/card/CardTitle.vue
src/ui/components/FaCard/card/index.ts
src/ui/components/FaCheckbox/index.vue
src/ui/components/FaCheckbox/checkbox/Checkbox.vue
src/ui/components/FaCheckbox/checkbox/index.ts
src/ui/components/FaContextMenu/index.vue
src/ui/components/FaContextMenu/context-menu/ContextMenu.vue
src/ui/components/FaContextMenu/context-menu/ContextMenuCheckboxItem.vue
src/ui/components/FaContextMenu/context-menu/ContextMenuContent.vue
src/ui/components/FaContextMenu/context-menu/ContextMenuGroup.vue
src/ui/components/FaContextMenu/context-menu/ContextMenuItem.vue
src/ui/components/FaContextMenu/context-menu/ContextMenuLabel.vue
src/ui/components/FaContextMenu/context-menu/ContextMenuPortal.vue
src/ui/components/FaContextMenu/context-menu/ContextMenuRadioGroup.vue
src/ui/components/FaContextMenu/context-menu/ContextMenuRadioItem.vue
src/ui/components/FaContextMenu/context-menu/ContextMenuSeparator.vue
src/ui/components/FaContextMenu/context-menu/ContextMenuShortcut.vue
src/ui/components/FaContextMenu/context-menu/ContextMenuSub.vue
src/ui/components/FaContextMenu/context-menu/ContextMenuSubContent.vue
src/ui/components/FaContextMenu/context-menu/ContextMenuSubTrigger.vue
src/ui/components/FaContextMenu/context-menu/ContextMenuTrigger.vue
src/ui/components/FaContextMenu/context-menu/index.ts
src/ui/components/FaCopyright/index.vue
src/ui/components/FaDivider/index.vue
src/ui/components/FaDrawer/index.vue
src/ui/components/FaDrawer/sheet/index.ts
src/ui/components/FaDrawer/sheet/Sheet.vue
src/ui/components/FaDrawer/sheet/SheetClose.vue
src/ui/components/FaDrawer/sheet/SheetContent.vue
src/ui/components/FaDrawer/sheet/SheetDescription.vue
src/ui/components/FaDrawer/sheet/SheetFooter.vue
src/ui/components/FaDrawer/sheet/SheetHeader.vue
src/ui/components/FaDrawer/sheet/SheetTitle.vue
src/ui/components/FaDrawer/sheet/SheetTrigger.vue
src/ui/components/FaDropdown/index.vue
src/ui/components/FaDropdown/dropdown-menu/DropdownMenu.vue
src/ui/components/FaDropdown/dropdown-menu/DropdownMenuCheckboxItem.vue
src/ui/components/FaDropdown/dropdown-menu/DropdownMenuContent.vue
src/ui/components/FaDropdown/dropdown-menu/DropdownMenuGroup.vue
src/ui/components/FaDropdown/dropdown-menu/DropdownMenuItem.vue
src/ui/components/FaDropdown/dropdown-menu/DropdownMenuLabel.vue
src/ui/components/FaDropdown/dropdown-menu/DropdownMenuRadioGroup.vue
src/ui/components/FaDropdown/dropdown-menu/DropdownMenuRadioItem.vue
src/ui/components/FaDropdown/dropdown-menu/DropdownMenuSeparator.vue
src/ui/components/FaDropdown/dropdown-menu/DropdownMenuShortcut.vue
src/ui/components/FaDropdown/dropdown-menu/DropdownMenuSub.vue
src/ui/components/FaDropdown/dropdown-menu/DropdownMenuSubContent.vue
src/ui/components/FaDropdown/dropdown-menu/DropdownMenuSubTrigger.vue
src/ui/components/FaDropdown/dropdown-menu/DropdownMenuTrigger.vue
src/ui/components/FaDropdown/dropdown-menu/index.ts
src/ui/components/FaFixedActionBar/index.vue
src/ui/components/FaHoverCard/index.vue
src/ui/components/FaHoverCard/hover-card/HoverCard.vue
src/ui/components/FaHoverCard/hover-card/HoverCardContent.vue
src/ui/components/FaHoverCard/hover-card/HoverCardTrigger.vue
src/ui/components/FaHoverCard/hover-card/index.ts
src/ui/components/FaIcon/index.vue
src/ui/components/FaImagePreview/index.vue
src/ui/components/FaImagePreview/dialog/Dialog.vue
src/ui/components/FaImagePreview/dialog/DialogClose.vue
src/ui/components/FaImagePreview/dialog/DialogContent.vue
src/ui/components/FaImagePreview/dialog/DialogDescription.vue
src/ui/components/FaImagePreview/dialog/DialogFooter.vue
src/ui/components/FaImagePreview/dialog/DialogHeader.vue
src/ui/components/FaImagePreview/dialog/DialogScrollContent.vue
src/ui/components/FaImagePreview/dialog/DialogTitle.vue
src/ui/components/FaImagePreview/dialog/DialogTrigger.vue
src/ui/components/FaImagePreview/dialog/index.ts
src/ui/components/FaInput/index.vue
src/ui/components/FaInput/input/index.ts
src/ui/components/FaInput/input/Input.vue
src/ui/components/FaKbd/index.vue
src/ui/components/FaModal/index.ts
src/ui/components/FaModal/index.vue
src/ui/components/FaModal/use-draggable.ts
src/ui/components/FaModal/dialog/Dialog.vue
src/ui/components/FaModal/dialog/DialogClose.vue
src/ui/components/FaModal/dialog/DialogContent.vue
src/ui/components/FaModal/dialog/DialogDescription.vue
src/ui/components/FaModal/dialog/DialogFooter.vue
src/ui/components/FaModal/dialog/DialogHeader.vue
src/ui/components/FaModal/dialog/DialogScrollContent.vue
src/ui/components/FaModal/dialog/DialogTitle.vue
src/ui/components/FaModal/dialog/DialogTrigger.vue
src/ui/components/FaModal/dialog/index.ts
src/ui/components/FaNotAllowed/index.vue
src/ui/components/FaNotification/index.ts
src/ui/components/FaNotification/index.vue
src/ui/components/FaNotification/toast/index.ts
src/ui/components/FaNotification/toast/Toast.vue
src/ui/components/FaNotification/toast/ToastAction.vue
src/ui/components/FaNotification/toast/ToastClose.vue
src/ui/components/FaNotification/toast/ToastDescription.vue
src/ui/components/FaNotification/toast/Toaster.vue
src/ui/components/FaNotification/toast/ToastProvider.vue
src/ui/components/FaNotification/toast/ToastTitle.vue
src/ui/components/FaNotification/toast/ToastViewport.vue
src/ui/components/FaNotification/toast/use-toast.ts
src/ui/components/FaPageHeader/index.vue
src/ui/components/FaPageMain/index.vue
src/ui/components/FaPasswordStrength/index.vue
src/ui/components/FaPinInput/index.vue
src/ui/components/FaPinInput/pin-input/index.ts
src/ui/components/FaPinInput/pin-input/PinInput.vue
src/ui/components/FaPinInput/pin-input/PinInputGroup.vue
src/ui/components/FaPinInput/pin-input/PinInputInput.vue
src/ui/components/FaPinInput/pin-input/PinInputSeparator.vue
src/ui/components/FaPopover/index.vue
src/ui/components/FaPopover/popover/index.ts
src/ui/components/FaPopover/popover/Popover.vue
src/ui/components/FaPopover/popover/PopoverContent.vue
src/ui/components/FaPopover/popover/PopoverTrigger.vue
src/ui/components/FaProgress/index.vue
src/ui/components/FaProgress/progress/index.ts
src/ui/components/FaProgress/progress/Progress.vue
src/ui/components/FaScrollArea/index.vue
src/ui/components/FaScrollArea/scroll-area/index.ts
src/ui/components/FaScrollArea/scroll-area/ScrollArea.vue
src/ui/components/FaScrollArea/scroll-area/ScrollBar.vue
src/ui/components/FaSearchBar/index.vue
src/ui/components/FaSelect/index.vue
src/ui/components/FaSelect/select/index.ts
src/ui/components/FaSelect/select/Select.vue
src/ui/components/FaSelect/select/SelectContent.vue
src/ui/components/FaSelect/select/SelectGroup.vue
src/ui/components/FaSelect/select/SelectItem.vue
src/ui/components/FaSelect/select/SelectItemText.vue
src/ui/components/FaSelect/select/SelectLabel.vue
src/ui/components/FaSelect/select/SelectScrollDownButton.vue
src/ui/components/FaSelect/select/SelectScrollUpButton.vue
src/ui/components/FaSelect/select/SelectSeparator.vue
src/ui/components/FaSelect/select/SelectTrigger.vue
src/ui/components/FaSelect/select/SelectValue.vue
src/ui/components/FaSlider/index.vue
src/ui/components/FaSlider/slider/index.ts
src/ui/components/FaSlider/slider/Slider.vue
src/ui/components/FaSmartFixedBlock/index.vue
src/ui/components/FaSwitch/index.vue
src/ui/components/FaSwitch/switch/index.ts
src/ui/components/FaSwitch/switch/Switch.vue
src/ui/components/FaSystemInfo/index.vue
src/ui/components/FaTabs/index.vue
src/ui/components/FaTabs/tabs/index.ts
src/ui/components/FaTabs/tabs/Tabs.vue
src/ui/components/FaTabs/tabs/TabsContent.vue
src/ui/components/FaTabs/tabs/TabsList.vue
src/ui/components/FaTabs/tabs/TabsTrigger.vue
src/ui/components/FaToast/index.vue
src/ui/components/FaToast/sonner/index.ts
src/ui/components/FaToast/sonner/Sonner.vue
src/ui/components/FaTooltip/index.vue
src/ui/components/FaTooltip/tooltip/index.ts
src/ui/components/FaTooltip/tooltip/Tooltip.vue
src/ui/components/FaTooltip/tooltip/TooltipContent.vue
src/ui/components/FaTooltip/tooltip/TooltipProvider.vue
src/ui/components/FaTooltip/tooltip/TooltipTrigger.vue
src/ui/provider/index.ts
src/ui/provider/index.vue
src/ui/shadcn/ui/form/FormControl.vue
src/ui/shadcn/ui/form/FormDescription.vue
src/ui/shadcn/ui/form/FormItem.vue
src/ui/shadcn/ui/form/FormLabel.vue
src/ui/shadcn/ui/form/FormMessage.vue
src/ui/shadcn/ui/form/index.ts
src/ui/shadcn/ui/form/injectionKeys.ts
src/ui/shadcn/ui/form/useFormField.ts
src/ui/shadcn/ui/label/index.ts
src/ui/shadcn/ui/label/Label.vue
src/utils/dayjs.ts
src/utils/directive.ts
src/utils/eventBus.ts
src/utils/index.ts
src/utils/object.ts
src/utils/systemCopyright.ts
src/utils/ua.ts
src/utils/composables/useAuth.ts
src/utils/composables/useGlobalProperties.ts
src/utils/composables/useMainPage.ts
src/utils/composables/useMenu.ts
src/utils/composables/useTabbar.ts
src/views/\[...all].vue
src/views/index.vue
src/views/login.vue
src/views/reload.vue
src/views/common/UserManage.vue
src/views/delivery/auth_detail.vue
src/views/delivery/client_manage.vue
src/views/delivery/dongle_manage.vue
src/views/delivery/send_detail.vue
src/views/model/model_list.vue
src/views/order/order_create.vue
src/views/order/order_list.vue
src/views/order/order_manage.vue
src/views/permission_example/index.vue
src/views/permission_example/test.vue
